body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: #fff;
    color: #555;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

td, th, caption {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    /*text-decoration: underline;*/
}

img {
    border: none;
    outline-width:0;
    vertical-align:top;
    max-width: 100%;
}

ol, ul, li {
    list-style: none;
}

input, textarea, select, button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

html {
    height: 100%;
    overflow: auto;
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /*background-color: #ddd;*/
}


/*滑块*/
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}


/*滑道*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #fcfcfc;
    border-radius: 5px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

#app {
    display: flex;
    min-height: 100%;
}
